- content_for :title, t('.title')
- content_for :page_icon, t('.icon')

%p= timeago_tag(@message.created_at, force: true)

%p= @message.name

%p= @message.email

- if @message.phone
  %p= @message.phone

= simple_format(@message.message)
