<% content_for :title, t('.title') %>
<% content_for :page_icon, t('.icon') %>

<table class="messages">
  <thead>
    <tr>
      <th><%= Message.human_attribute_name(:created_at) %></th>
      <th><%= Message.human_attribute_name(:name) %></th>
      <th><%= Message.human_attribute_name(:email) %></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to(timeago(message.created_at), admin_message_path(message)) %></td>
        <td><%= link_to(message.name, admin_message_path(message)) %></td>
        <td><%= link_to(message.email, admin_message_path(message)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @messages, renderer: BootstrapPagination::Rails %>
