:ruby
  content_for :title, t('.title')
  content_for :page_icon, t('.icon')

%p= timeago(@message.created_at)

%p= @message.name

%p= @message.email

- if @message.phone
  %p= @message.phone

= simple_format(@message.message)
