:ruby
  content_for :title, t('.title')
  content_for :page_icon, t('.icon')

- content_for :header_links do
  = link_to new_user_invitation_path, class: 'btn btn-primary' do
    = icon_tag(t('devise.invitations.new.icon'))
    = t('devise.invitations.new.title')

%table.table
  %thead
    %tr
      %th= User.human_attribute_name(:name)
      %th= User.human_attribute_name(:email)
      %th= SiteSetting.human_attribute_name(:admin)
      %th= User.human_attribute_name(:confirmed)
      %th= User.human_attribute_name(:locked)

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= tick(user.admin_for_site?(@site))
        %td= tick(user.confirmed?)
        %td= tick(user.access_locked?)
