- content_for :title, t('.title')
- content_for :page_icon, t('.icon')

= simple_form_for current_user, url: registrations_path do |form|
  = form.input :email, autofocus: true
  = form.input :password
  = form.input :password_confirmation

  .form-group
    .col-control-offset
      = link_to(image_tag(current_user.gravatar_url(size: 150), alt: 'Profile Image', class: 'img-circle', size: '150x150'), 'https://www.gravatar.com')

  .form-group
    .col-control-offset
      = form.button :submit
      = link_to t('actions.cancel'), page_path('home'), class: 'btn'
