= simple_form_for((@message || Message.new), url: contact_form_page_path) do |form|
  = form.input :name
  = form.input :email
  = form.input :phone
  = form.input :message, as: :text, input_html: { rows: 4, class: 'autogrow' }

  .hidden
    = form.input :do_not_fill_in

  .form-group
    .col-control-offset
      = form.button :submit, t('actions.send_message')
