<%= simple_form_for((message || Message.new), url: contact_form_page_path) do |form| %>
  <%= form.invisible_captcha :surname %>

  <div class="form__row">
    <div class="form__small-inputs">
      <%= form.input :name %>
      <%= form.input :email %>
      <%= form.input :phone %>
    </div>
  </div>

  <div class="form__row">
    <div class="form__large-inputs">
      <%= form.input :message, as: :text, input_html: { rows: 4, class: 'js-autosize' } %>
    </div>
  </div>

  <div class="form__row">
    <div class="form__small-inputs">
      <% if site.privacy_policy_page_id %>
        <%= form.input :privacy_policy_agreed, label: t('.privacy_policy', link: privacy_policy_link(site)).html_safe, required: true %>
      <% end %>

      <div class="form__buttons">
        <%= form.button :submit, t('actions.send_message') %>
      </div>
    </div>
  </div>
<% end %>
