= simple_form_for((message || Message.new), url: contact_form_page_path) do |form|
  .row
    .col-sm-4.col-sm-offset-2
      = form.input :name
      = form.input :email
      = form.input :phone

  .row
    .col-sm-8.col-sm-offset-2
      = form.input :message, as: :text, input_html: { rows: 4, class: 'js-autogrow' }

      .hidden
        = form.input :do_not_fill_in

      .form-group
        = form.button :submit, t('actions.send_message')
