- content_for :javascript do
  = javascript_include_tag 'tinymce', 'data-turbolinks-track' => true

= simple_form_for @page do |form|
  = form.input :name, autofocus: true
  = form.input :private, as: :boolean
  = form.text_area :html_content, rows: 20, cols: 120, class: 'tinymce'

  .form-actions
    = form.button :submit
    = link_to t('actions.cancel'), @page, class: 'btn'

= tinymce content_css: "#{path_to_stylesheet('application')},#{@site.stylesheet.url}"
