- content_for :head, javascript_include_tag('tinymce', 'data-turbolinks-track': true)

= simple_form_for @page do |form|
  = form.input :url, disabled: true
  = form.input :name, autofocus: true
  = form.input :private, as: :boolean

  .tinymce.form-control{ id: 'page[html_content]' }
    = form.object.html_content.to_s.html_safe

  = form.input :contact_form, as: :boolean

  .form-group
    .col-control-offset
      = form.button :submit
      = link_to t('actions.cancel'), @page, class: 'btn'

= tinymce
