= simple_form_for @page do |form|
  = form.input :name, autofocus: true
  = form.input :private, as: :boolean

  .tinymce{:id => 'page[html_content]'}
    = form.object.html_content.to_s.html_safe

  .form-actions
    = form.button :submit
    = link_to t('actions.cancel'), @page, class: 'btn'

= tinymce
