:ruby
  content_for :title, t('.title')
  content_for :form_page, true

= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |form|
  = form.input :email, autofocus: true
  = form.input :password, input_html: { autocomplete: 'off' }
  = form.input :remember_me, as: :boolean

  .form__buttons
    = form.button :submit, value: t('.title')

= link_to t('devise.passwords.new.title'), new_password_path(resource_name)

- if ENV['GOOGLE_CLIENT_ID'] && ENV['GOOGLE_CLIENT_SECRET']
  %h2= t('.accounts')

  = link_to user_google_omniauth_authorize_path do
    = image_tag asset_pack_path('images/login_google.png'), alt: t('.google')
