:ruby
  content_for :title, t('.title')
  content_for :form_page, true

= simple_form_for resource, as: resource_name, url: invitation_path(resource_name) do |form|
  = form.hidden_field :invitation_token

  = form.input :password, label: t('.new_password'), required: true, autofocus: true, input_html: { autocomplete: 'off' }
  = form.input :password_confirmation, required: true, input_html: { autocomplete: 'off' }

  .form-group
    = form.button :submit, t('.title')

