%p= "#{Message.human_attribute_name(:name)}: #{@message.name}"

%p= "#{Message.human_attribute_name(:email)}: #{@message.email}"

%p= "#{Message.human_attribute_name(:phone)}: #{@message.phone}"

%p= "#{Message.human_attribute_name(:message)}: #{@message.message}"
