%p= t('.text', site_name: @site.name)

%dl
  %dt= Message.human_attribute_name(:name)
  %dd= @message.name

  %dt= Message.human_attribute_name(:email)
  %dd= @message.email

  - if @message.phone
    %dt= Message.human_attribute_name(:phone)
    %dd= @message.phone

  %dt= Message.human_attribute_name(:privacy_policy_agreed)
  %dd= yes_no(@message.privacy_policy_agreed)

  %dt= Message.human_attribute_name(:message)
  %dd= simple_format(@message.message)
