<% content_for :title, t('.title') %>
<% content_for :page_icon, t('.icon') %>

<% content_for :header_links do %>
  <%= link_to new_user_invitation_path, class: 'button--main' do %>
    <%= icon_tag(t('devise.invitations.new.icon')) %>
    <%= t('devise.invitations.new.title') %>
  <% end %>
<% end %>

<table class="users">
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name) %></th>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= SiteSetting.human_attribute_name(:admin) %></th>
      <th><%= User.human_attribute_name(:confirmed) %></th>
      <th><%= User.human_attribute_name(:locked) %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= tick(user.admin_for_site?(@site)) %></td>
        <td><%= tick(user.confirmed?) %></td>
        <td><%= tick(user.access_locked?) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
