#page.container-fluid
  .row-fluid
    .span2
      = render 'layouts/sidebar'

    .span10
      = render 'layouts/header'
      = render 'layouts/main_menu'
      = render 'layouts/main_article'
      = render 'layouts/footer'

