#page.container-fluid
  .row
    .col-sm-2
      = render 'layouts/sidebar'

    .col-sm-10
      = render 'layouts/header'
      = render 'layouts/main_menu'
      = render 'layouts/main_article'
      = render 'layouts/footer'

