#page.container
  = render 'layouts/header'
  = render 'layouts/main_menu'

  #main.row
    .span8
      = render 'layouts/main_article'
    .span4
      = render 'layouts/sidebar'

  = render 'layouts/footer'

