#page.container
  = render 'layouts/header'
  = render 'layouts/main_menu'

  #main.row
    .span9
      = render 'layouts/main_article'
    .span3
      = render 'layouts/sidebar'

  = render 'layouts/footer'

