#page.container
  = render 'layouts/header'
  = render 'layouts/main_menu'

  #main.row
    .col-sm-9.col-main-article
      = render 'layouts/main_article'
    .col-sm-3
      = render 'layouts/sidebar'

  = render 'layouts/footer'

