#page.container
  = render 'layouts/header'
  = render 'layouts/main_menu'

  #main.row
    %article#main_article.col-sm-9.narrow-forms
      = render 'layouts/main_article'
    %aside#sidebar.col-sm-3.hidden-print
      = @site.sidebar_html_content.to_s.html_safe

  = render 'layouts/footer'
