- content_for :title, t('.title')
- content_for :page_icon, t('.icon')

= simple_form_for @site do |form|
  = form.input :host, disabled: true
  = form.input :name, autofocus: true
  = form.input :sub_title
  = form.input :google_analytics
  = form.input :layout, collection: Site::LAYOUTS.map{|i| [i.humanize, i]}, prompt: nil
  = form.input :separate_header

  %h2= t('.footer')
  = form.input :copyright
  = form.input :charity_number
  = form.input :main_menu_in_footer

  .form-group
    .col-control-offset
      = form.button :submit
      = link_to t('actions.cancel'), page_path('home'), class: 'btn'
