%footer.col-sm-12.text-center
  %ul.list-unstyled
    - if @page and @page.persisted?
      %li#last_update
        %small= t('.last_updated', updated_at: timeago_tag(@page.updated_at, force: true)).html_safe

    %li#copyright
      %small= footer_copyright(@site)

    %li
      %ul#footer_links.list-inline
        %li
          %small= link_to t('sitemaps.show.title'), sitemap_path

        - if user_signed_in?
          %li
            %small= link_to t('devise.sessions.destroy.title'), destroy_user_session_path
        - else
          %li
            %small= link_to t('devise.sessions.new.title'), new_user_session_path

    - if @site.social_networks?
      %li
        %ul#social_network_links.list-inline
          - if @site.facebook
            %li#facebook
              = link_to "https://www.facebook.com/#{@site.facebook}" do
                = icon('facebook-official')

          - if @site.twitter
            %li#twitter
              = link_to "https://twitter.com/#{@site.twitter}" do
                = icon('twitter-square')

          - if @site.linkedin
            %li#linkedin
              = link_to "https://www.linkedin.com/in/#{@site.linkedin}" do
                = icon('linkedin-square')

          - if @site.github
            %li#github
              = link_to "https://github.com/#{@site.github}" do
                = icon('github')
