%footer.col-sm-12.text-center
  %ul.list-unstyled
    - if @page && @page.persisted?
      %li#cms-last-update
        %small= t('.last_updated', updated_at: timeago_tag(@page.updated_at, force: true)).html_safe

    %li#cms-copyright
      %small= footer_copyright(@site)

    %li
      %ul.list-inline#cms-footer-links
        %li
          %small= link_to t('sitemaps.show.title'), sitemap_path

        - if user_signed_in?
          %li
            %small= link_to t('devise.sessions.destroy.title'), destroy_user_session_path
        - else
          %li
            %small= link_to t('devise.sessions.new.title'), new_user_session_path

    - if @site.social_networks?
      %li
        %ul.list-inline#cms-social-network-links
          - if @site.facebook
            %li#cms-facebook
              = link_to "https://www.facebook.com/#{@site.facebook}" do
                = content_tag(:i, nil, class: 'fa fa-facebook-official')

          - if @site.twitter
            %li#cms-twitter
              = link_to "https://twitter.com/#{@site.twitter}" do
                = content_tag(:i, nil, class: 'fa fa-twitter')

          - if @site.youtube
            %li#cms-youtube
              = link_to "https://www.youtube.com/#{@site.youtube}" do
                = content_tag(:i, nil, class: 'fa fa-youtube-play')

          - if @site.linkedin
            %li#cms-linkedin
              = link_to "https://www.linkedin.com/in/#{@site.linkedin}" do
                = content_tag(:i, nil, class: 'fa fa-linkedin-square')

          - if @site.github
            %li#cms-github
              = link_to "https://github.com/#{@site.github}" do
                = content_tag(:i, nil, class: 'fa fa-github')
