%footer.footer
  .footer__container
    %ul.footer__menu
      - if site.links.present?
        %li.footer__site-links-item
          %ul.footer__site-links
            - site.links.each do |link|
              %li.footer__site-link-item
                = link_to link.fetch('url'), class: 'footer__site-link' do
                  = icon_tag(link.fetch('icon')) if link.fetch('icon')
                  %span.footer__site-link-text= link.fetch('name')

      - if page&.persisted?
        %li.footer__last-updated
          = t('.last_updated')
          = timeago(page.updated_at)

      %li.footer__copyright= copyright(site)

      - if site.charity_number
        %li.footer__charity= t('.charity', number: site.charity_number)

      - if site.privacy_policy_page_id
        %li.footer__privacy-policy= privacy_policy_link(site)

      %li.footer__links-item
        %ul.footer__links
          %li.footer__link-item= link_to t('pages.index.title'), sitemap_path

          - if user_signed_in?
            %li.footer__link-item= link_to t('devise.sessions.destroy.title'), destroy_user_session_path
          - else
            %li.footer__link-item= link_to t('devise.sessions.new.title'), new_user_session_path
