%footer.footer
  .footer__container
    %ul.footer__menu
      - unless site.footer_links.empty?
        %li.footer__site-links-item
          %ul.footer__site-links.list-inline
            - site.footer_links.each do |link|
              %li.footer__site-link-item
                = link_to link.url, class: 'footer__site-link' do
                  = icon_tag(link.icon) if link.icon
                  %span.footer__site-link-text= link.name

      - if page&.persisted?
        %li.footer__last-updated
          = t('.last_updated')
          = timeago_tag(page.updated_at, force: true)

      %li.footer__copyright #{site.copyright || site.name} © #{Time.zone.now.year}

      - if site.charity_number
        %li.footer__charity= t('.charity', number: site.charity_number)

      %li.footer__links-item
        %ul.footer__links.list-inline
          %li= link_to t('pages.index.title'), sitemap_path

          - if user_signed_in?
            %li= link_to t('devise.sessions.destroy.title'), destroy_user_session_path
          - else
            %li= link_to t('devise.sessions.new.title'), new_user_session_path
