- if content_for?(:title)
  %header.article__header
    %h1
      - if content_for(:header_links)
        .article__header-links= content_for(:header_links)

      = icon_tag(content_for(:page_icon)) if content_for(:page_icon)
      = content_for(:title)

- if notice
  .alert.alert-success.alert-dismissible
    %button.close{ 'type': 'button', 'data-dismiss': 'alert' }
      .span &times;
    = notice

- if alert
  .alert.alert-danger.alert-dismissible
    %button.close{ 'type': 'button', 'data-dismiss': 'alert' }
      .span &times;
    = alert

%section.article__content
  = yield
