%nav.main-menu
  .main-menu__bar
    - unless site.separate_header
      = link_to site.name, page_path('home'), class: 'main-menu__site-name'

    %button.main-menu__button{ 'type': 'button', 'data-toggle': 'collapse', 'data-target': '#js-main-menu-collapse' }
      %spen.main-menu__button-hamburger
      %span.main-menu__button-text= t('.toggle_button')

    .main-menu__collapse.collapse#js-main-menu-collapse
      - nav_class = 'ml-auto' unless site.separate_header
      %ul.main-menu__links{ class: nav_class }
        - site.main_menu_pages.each do |page|
          %li.main-menu__link-item
            = link_to page_path(page), class: "main-menu__link cms-page-link-#{page.to_param}" do
              %span.main-menu__link-text= page.name
