- if content_for?(:title)
  %header
    %h1
      = icon(content_for(:page_icon)) if content_for(:page_icon)
      = content_for(:title)

- if notice
  = alert_box notice, context: :success, dismissible: true

- if alert
  = alert_box alert, context: :danger, dismissible: true

= yield
