<header class="article__header">
  <h1>
    <%= icon_tag(content_for(:page_icon)) if content_for(:page_icon) %>
    <%= content_for(:title) %>
  </h1>
</header>

<% { alert: 'danger', error: 'danger', notice: 'success' }.each do |level, style| %>
  <% if flash[level] %>
    <div class="alert alert-<%= style %> alert-dismissible">
      <button class="close" type="button" data-dismiss="alert">
        <span>&times;</span>
      </button>

      <%= flash[level] %>
    </div>
  <% end %>
<% end %>

<section class="article__content">
  <%= yield %>
</section>
