- if content_for?(:title)
  %header#cms-article-header
    %h1
      - if content_for(:header_links)
        .pull-right= content_for(:header_links)

      = icon_tag(content_for(:page_icon)) if content_for(:page_icon)
      = content_for(:title)

= alert_box notice, context: :notice, dismissible: true if notice
= alert_box alert, context: :alert, dismissible: true if alert

= yield
