- if content_for?(:title)
  %header
    %h1
      = content_tag(:i, nil, class: "fa fa-#{content_for(:page_icon)}") if content_for(:page_icon)
      = content_for(:title)

= alert_box notice, context: :notice, dismissible: true if notice
= alert_box alert, context: :alert, dismissible: true if alert

= yield
