%nav.main-menu
  .main-menu__bar
    .main-menu__container
      .main-menu__header
        %button.main-menu__button.collapsed{ 'type': 'button', 'data-toggle': 'collapse', 'data-target': '#js-main-menu-collapse' }
          %span.sr-only= t('.toggle_button')
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        - unless site.separate_header
          = link_to site.name, page_path('home'), class: 'main-menu__site-name'

      .main-menu__collapse.collapse#js-main-menu-collapse
        - nav_class = 'navbar-right' unless site.separate_header
        %ul.main-menu__links.navbar-nav{ class: nav_class }
          - site.main_menu_pages.each do |page|
            %li.main-menu__link-item
              = link_to page_path(page.to_param), class: "main-menu__link cms-page-link-#{page.to_param}" do
                %span.main-menu__link-text= page.name
