<nav class="topbar">
  <%= link_to site.name, root_path, class: 'topbar__site-name' %>

  <button class="topbar__button" type="button" data-toggle="collapse" data-target="#js-topbar-collapse">
    <span class="topbar__button-hamburger"></span>
    <span class="topbar__button-text">
      <%= t('.toggle_button') %>
    </span>
  </button>

  <div class="topbar__collapse collapse" id="js-topbar-collapse">
    <ul class="topbar__links">
      <li class="topbar__item">
        <%= link_to t('admin.index.title'), admin_path, class: 'topbar__link' %>
      </li>

      <li class="topbar__item">
        <%= link_to logout_path, class: 'topbar__link', 'data-turbolinks': false do %>
          <%= icon_tag(t('sessions.destroy.icon')) %>
          <%= t('sessions.destroy.title') %>
          <%= current_user.name %>
        <% end %>
      </li>

      <li class="topbar__avatar">
        <%= image_tag(current_user.gravatar_url(size: 40), alt: User.human_attribute_name(:profile_image), class: 'topbar__profile-image', size: '40x40') %>
      </li>
    </ul>
  </div>
</nav>
