<nav class="topbar">
  <%= link_to site.name, root_path, class: 'topbar__site-name' %>

  <button class="topbar__button" type="button" data-toggle="collapse" data-target="#js-topbar-collapse">
    <span class="topbar__button-hamburger"></span>
    <span class="topbar__button-text">
      <%= t('.toggle_button') %>
    </span>
  </button>

  <div class="topbar__collapse collapse" id="js-topbar-collapse">
    <ul class="topbar__links">
      <% if policy(site).update? %>
        <li class="topbar__dropdown-item">
          <a class="topbar__dropdown-toggle" data-toggle="dropdown" href="#">
            <%= Page.model_name.human %>
          </a>
          <div class="dropdown-menu">
            <% if page&.persisted? %>
              <%= link_to edit_page_path(page), class: 'dropdown-item' do %>
                <%= icon_tag t('pages.edit.icon') %>
                <%= t('actions.edit') %>
              <% end %>
            <% end %>

            <%= link_to new_page_path, class: 'dropdown-item' do %>
              <%= icon_tag(t('pages.new.icon')) %>
              <%= t('pages.new.title') %>
            <% end %>
          </div>
        </li>

        <li class="topbar__item">
          <%= link_to t('admin.index.title'), admin_path, class: 'topbar__link' %>
        </li>
      <% end %>

      <li class="topbar__dropdown-item">
        <a class="topbar__dropdown-toggle" data-toggle="dropdown" href="#">
          <%= current_user.name %>
        </a>

        <div class="dropdown-menu">
          <%= link_to logout_path, class: 'dropdown-item', 'data-turbolinks': false do %>
            <%= icon_tag(t('sessions.destroy.icon')) %>
            <%= t('sessions.destroy.title') %>
          <% end %>
        </div>
      </li>

      <li class="topbar__avatar">
        <%= image_tag(current_user.gravatar_url(size: 40), alt: User.human_attribute_name(:profile_image), class: 'topbar__profile-image', size: '40x40') %>
      </li>
    </ul>
  </div>
</nav>
