<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <title><%= page_title(@site, content_for(:title)) %></title>
    <%= csrf_meta_tag %>
    <%= csp_meta_tag %>
    <%= render 'layouts/rollbar' if Rails.configuration.x.rollbar_client_token %>

    <% if content_for(:admin_layout) %>
      <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload', crossorigin: 'anonymous' %>
    <% else %>
      <%= stylesheet_pack_tag 'stylesheet', 'data-turbolinks-track': 'reload', media: 'all' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', crossorigin: 'anonymous' %>
    <% end %>

    <%= stylesheet_link_tag site_stylesheet(@site), 'data-turbolinks-track': 'reload', media: 'all' if @site.css %>

    <%= render 'layouts/google_analytics', site: @site if @site.google_analytics %>
  </head>

  <body class="<%= body_class %>">
    <% if content_for(:admin_layout) %>
      <%= yield %>
    <% else %>
      <%= render 'layouts/topbar', site: @site, page: @page if current_user %>

      <div class="page">
        <div class="page__container">
          <%= render 'layouts/header', site: @site if @site.separate_header %>
          <%= render 'layouts/main_menu', site: @site unless @site.main_menu_pages.empty? %>
          <%= render 'layouts/main', site: @site %>
          <%= render 'layouts/footer_main_menu', site: @site if @site.main_menu_in_footer && !@site.main_menu_pages.empty? %>
          <%= render 'layouts/footer', site: @site, page: @page %>
        </div>
      </div>
    <% end %>
  </body>
</html>
