!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title= page_title(@site, content_for(:title))
    = stylesheet_link_tag 'application', 'data-turbolinks-track': true, media: 'all'
    = stylesheet_link_tag @site.stylesheet.url, 'data-turbolinks-track': true, media: 'all' if @site.stylesheet.url
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = content_for(:head)
    = render 'layouts/google_analytics'
    = csrf_meta_tag
    <!--[if lte IE 8]>
    = javascript_include_tag 'https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js'
    = javascript_include_tag '/js/respond-1.4.2.min.js'
    <![endif]-->

  %body{id: body_id(request.path)}
    = render 'layouts/topbar' if user_signed_in?
    = render "layouts/pages/#{@site.layout}"
