!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title= page_title(@site, content_for(:title))
    = stylesheet_link_tag 'application', 'data-turbolinks-track': true, media: 'all'
    = stylesheet_link_tag @site.stylesheet.url, 'data-turbolinks-track': true, media: 'all' if @site.stylesheet.url
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = content_for(:head)
    = render 'layouts/google_analytics'
    = csrf_meta_tag

  %body{id: (content_for(:body_id) if content_for?(:body_id))}
    = render 'layouts/topbar' if user_signed_in?
    = render "layouts/pages/#{@site.layout}"
