<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
/* -------------------------------------
GLOBAL
------------------------------------- */
* {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  height: 100%;
  width: 100%!important;
}

/* -------------------------------------
ELEMENTS
------------------------------------- */
a {
  color: #348eda;
}

.btn-primary {
  background-color: #348eda;
  border-radius: 25px;
  border-width: 10px 20px;
  border: solid #348eda;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 2;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
}

.btn-secondary {
  background-color: #aaa;
  border-radius: 25px;
  border-width: 10px 20px;
  border: solid #aaa;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 2;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
}

/* -------------------------------------
BODY
------------------------------------- */
.body-wrap {
  background-color: #f6f6f6;
  padding: 10px 0;
  width: 100%;
}

.body-wrap .container {
  border: 1px solid #f0f0f0;
  padding: 10px;
}

/* -------------------------------------
FOOTER
------------------------------------- */
.footer-wrap {
  background-color: #f6f6f6;
  clear: both!important;
  width: 100%;
}

.footer-wrap .container p {
  color: #666;
  font-size: 12px;
}

.footer-wrap a {
  color: #999;
}

/* -------------------------------------
TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3 {
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  line-height: 1.1;
  line-height: 1.2;
  margin-bottom: 15px;
  margin: 40px 0 10px;
}

h1 {
  font-size: 36px;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p,
ul,
ol {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

ul li,
ol li {
  list-style-position: inside;
  margin-left: 5px;
}

dt {
  font-weight: bold;
}

/* ---------------------------------------------------
RESPONSIVENESS
------------------------------------------------------ */

.container {
  clear: both!important;
  display: block!important;
  margin: 0 auto!important;
  max-width: 600px!important;
}

.content {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.content table {
  width: 100%;
}
    </style>
  </head>
  <body bgcolor="#f6f6f6">
    <table class="body-wrap">
      <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
          <div class="content">
            <table>
              <tr>
                <td>
                  <h1><%= @site.name %></h1>

                  <%- if @resource %>
                    <p> Hi <%= @resource.name %></p>
                  <%- end %>

                  <%= yield %>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td></td>
      </tr>
    </table>

    <table class="footer-wrap">
      <tr>
        <td></td>
        <td class="container">
          <div class="content">
            <table>
              <tr>
                <td align="center">
                  <p><%= copyright(@site) %></p>
                </td>
              </tr>
              <% if @site.charity_number %>
                <tr>
                  <td align="center">
                    <p><%= t('layouts.footer.charity', number: @site.charity_number) %>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
