:ruby
  content_for :title, t('.title')
  content_for :page_icon, t('.icon')
  content_for :form_page, true

= simple_form_for [:admin, @site] do |form|
  = form.input :name, autofocus: true
  = form.input :sub_title
  = form.input :google_analytics
  = form.input :separate_header

  %h2= t('.footer')
  = form.input :copyright
  = form.input :charity_number
  = form.input :main_menu_in_footer

  .form__buttons
    = form.button :submit
    = link_to t('actions.cancel'), page_path('home'), class: 'button--cancel'
